@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
   
        <div class="row">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-3">Hello World [fname + lname]</h1>
                </div>
            </div>
            <p>When adding your first and last name your name will be added to our database and the header will change to include your name. Please do not add any personal information to the form.</p>
            <div class="alert alert-danger col-sm-12">The following requirements have not been met: 
                    <ul>
                        <li>First Name is Empty </li>
                        <li>First Name includes numbers, use only characters</li>
                        <li>First Name includes special characters</li>
                    </ul>
            </div>
            <div class="alert alert-success col-sm-12">The form has been successfully submited. Also, your name Has been added to our database</div>
               
                
                
           
            <div class="container">
                <form method="post">
                    <div class="form-group row">
                        <label class="label" for="fname">First Name </label>
                        <input type="text" id="txtFname" name="fname" class="form-control" />
                    </div>
                    <div class="form-group row">
                        <label class="label" for="lname">Last Name </label>
                        <input type="text" id="txtLname" name="lname" class="form-control" />
                    </div>
                    <input type="submit" id="formSubmit"  class="btn btn-success"/>
                </form>
            </div>
        </div>

   
</div>